<%= form_with(model: customer, local: true) do |form| %>
  <% if customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
      <% customer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :first_name %>
    <%= form.text_field :first_name, id: :customer_first_name %>
  </div>

  <div class="field">
    <%= form.label :last_name %>
    <%= form.text_field :last_name, id: :customer_last_name %>
  </div>

  <div class="field">
    <%= form.label :address1 %>
    <%= form.text_field :address1, id: :customer_address1 %>
  </div>

  <div class="field">
    <%= form.label :address2 %>
    <%= form.text_field :address2, id: :customer_address2 %>
  </div>

  <div class="field">
    <%= form.label :state %>
    <%= form.text_field :state, id: :customer_state %>
  </div>

  <div class="field">
    <%= form.label :postcode %>
    <%= form.text_field :postcode, id: :customer_postcode %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email, id: :customer_email %>
  </div>

  <div class="field">
    <%= form.label :phone %>
    <%= form.text_field :phone, id: :customer_phone %>
  </div>

  <div class="field">
    <%= form.label :creditcard %>
    <%= form.text_field :creditcard, id: :customer_creditcard %>
  </div>

  <div class="field">
    <%= form.label :birthday %>
    <%= form.date_field :birthday, id: :customer_birthday %>
  </div>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
